
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV de Jean-philippe</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <nav>
        <h1>Page D'accueil</h1>
        <div class="onglets">
            <a href="Page CV.html">Mon CV</a>
            <a href="page contact.html">Pour se mettre en contact</a>
        </div>
    </nav>

    <header>
        <h1>Jean-philippe Vagbé</h1>
        <h4></h4>
    </header>

    <section class="main" id="produits">

        <div class="content">
            <div class="card">
                <div class="left">
                    <h1>quelques informations perso</h1>
                    <p>mon adresse mail : jeanphilippevagbe45@gmail.com</p>

                        <p>Mon numéro : 6 69 99 38 34</p>

                        <p>Mon adresse : 44 rue Jean Jaurès</p>

                        <p>je suis étudiant en réseaux et télécommunications à l'IUT de Roanne. Cependant cette formation n'est qu'un tremplin car je poursuis le but de devenir ingénieur en électromécanique. Cette formation m'apporte beaucoup de connaissances en programmation et dans différents langages</p>
                </div>
                <div class="right">
                    
                </div>
            </div>

            <div class="card">
                <div class="left">
                    <h1>Mes loisirs </h1>
                    <p>mon principal passe temps est le football. Lorsque j'ai un bout de temps, je vais au stade et je fais des touches de balle , des gestes techniques, Ce qui renforce ma qualité dans le jeu d'équipe . hormis le football je regarde aussi beaucoup de séries policières ce qui me permet d'avoir une meilleure communication et le sens de la procédure </p>
                </div>
                <div class="right">
                    <img src="https://i.pinimg.com/750x/a5/78/8d/a5788d706e0f97413799f7eb12663fe6.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <footer>

        Copyright ©Jean-philippe Vagbé 2023 Tous droits réservés.
    </footer>
</body>
</html>